/* Navigation Bar */

.navbar_coca_cola {
    background-color: #760003; /* Set navbar background color */
}


.navbar_coca_cola .navbar-brand {
    color: white;
}
    
.navbar_coca_cola .navbar-brand:hover {
    color: gray;
}

.navbar_coca_cola .navbar-nav > li > a {
	color: white;  
}

.navbar_coca_cola .navbar-nav > li > a:hover, 
.navbar_coca_cola .navbar-nav > li > a:focus {
    color: gray;  
}

.navbar_coca_cola .navbar-toggler {
    border-color: white;
}

.dropdown-menu {
    background-color: #83191c;
    border: 1px solid rgba(255, 255, 255, 1);
}
.dropdown-menu .dropdown-item {
    color: white;
}
.dropdown-menu .dropdown-item:hover {
    color: #030303;
    background-color: #e98074;
}


/* Modal */

.modal-content {
    background-color: #1E1E1E;
    border: 1px solid #8b8b8b;
    color: white;
}

.modal-content .btn-close {
    filter: brightness(0) invert(1);
}

.modal-body a {
    color: lightblue;
}

.modal-body a:hover,
.modal-body a:focus {
    color: cornflowerblue;
}

/* Body */

body {
    background-color: #1E1E1E;
}

.card {
    border: 1px solid #8b8b8b;
    background-color: rgba(52, 52, 52, 1.0);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h1, .card h2, .card h3, .card h4, .card h5, .card h6, .card p {
    color: white;
}

.btn-group {
    border: 1px solid #8b8b8b;
}

.model3D {
    background-color: rgba(74, 74, 74, 1.0);
    border: 1px solid #8b8b8b;
}

X3D, x3d {
    border: 1px solid #8b8b8b;
}

.btn-primary {
    background-color: rgba(74, 74, 74, 1.0);
    border: 1px solid #8b8b8b;
    color: white;
}

.not-found {
    color: white;
}

/* Footer */
.footer {
    color: white;
    background-color: #760003;
}

.navbar-text > p {
    color: white;
}

.social-logo {
    color: white;
}

.social-logo:hover,
.social-logo:focus {
    color: grey;
}